* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Vina Sans', Helvetica;
}

/* Heading */

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #F6E3C5;
}

.logo {
    width: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
    border: 2px solid black;
    padding: 8px;
    box-shadow: 7px 4px 4px black;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: black;
}

.nav-links li:hover {
    background-color: black;
}

.nav-links a:hover {
    color: white;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #F6E3C5;
        position: absolute;
        top: 70px;
        right: 0;
        width: 150px;
        padding: 5px;
        text-align: center;
    }

    .nav-links li:hover {
        background-color: black;
        padding: 5px;
        color: white;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}


/* Hero Section */

.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(images/vallejo-sauce.jpg) center/cover no-repeat;
}


/* About Section */

.about-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6E3C5;
}

.about-card {
    height: 600px;
    width: 80%;
    background-color: lightgray;
    /* display: flex; */
}
